/*reset*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
}

/*variables*/ /*Fuente*/
@font-face {
  font-family: "Roboto Tin";
  src: url(../font/roboto/Roboto-Thin.ttf);
  font-family: "Roboto Medium";
  src: url(../font/roboto/Roboto-Medium.ttf);
  font-family: "Roboto Black";
  src: url(../font/roboto/Roboto-Black.ttf);
}
.titulo-h1, .banner h1, main .banner-nosotros h1, main .banner-contacto h1 {
  font-family: "Roboto Black";
  font-size: 35px;
  color: white;
}

.titulo-h2, .banner h2, main .nosotros .nosotros-content .iconos, main .nosotros .nosotros-content h2, main .contacto-cards h2, main .escribinos-descripcion-content h2, main .visitanos .visitanos-content-lista h2, .new .card-new h3 {
  font-family: "Roboto Medium";
  font-size: 35px;
  color: black;
}

.titulo-h3, article.info-compra p, main .horarios-content h2, .grilla .items .col h2, .banner-suscripcion .banner-suscripcion-content h3, .card-producto .card-content h3, .grilla .items .col .card .card-content h3, .new .card .card-content h3, .new .card-new .card-content h3 {
  font-family: "Roboto Medium";
  font-size: 30px;
  color: black;
}

.text, main .nosotros .nosotros-content p, main .contacto-cards p, main .escribinos-descripcion-content p, main .visitanos .visitanos-content-lista li, main .horarios-content ul {
  font-family: "Roboto Tin";
  font-size: 20px;
  color: gray;
}

.btn-comprar, main form .btn-lg, main .escribinos-form-content button, .card-categoria a.btn-ver-categoria {
  border: none;
  cursor: pointer;
  background-color: #DBC4F0;
  border-radius: 10px;
  font-family: "Roboto Black";
  font-size: 30px;
  color: white;
}
.btn-comprar:hover, main form .btn-lg:hover, main .escribinos-form-content button:hover, .card-categoria a.btn-ver-categoria:hover {
  background-color: #caabe8;
}

.btn-mas, .banner-suscripcion .banner-suscripcion-content button, .card-producto .card-content .btn, .grilla .items .col .card .card-content .btn, .new .card .card-content .btn, .new .card-new .card-content .btn {
  border: none;
  cursor: pointer;
  background-color: #A0C49D;
  border-radius: 10px;
  font-family: "Roboto Black";
  font-size: 18px;
  color: white;
}
.btn-mas:hover, .banner-suscripcion .banner-suscripcion-content button:hover, .card-producto .card-content .btn:hover, .grilla .items .col .card .card-content .btn:hover, .new .card .card-content .btn:hover, .new .card-new .card-content .btn:hover {
  background-color: #7ab875;
}

.card-producto, .grilla .items .col .card, .new .card, .new .card-new {
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
  border-radius: 5px;
}
.card-producto img, .grilla .items .col .card img, .new .card img, .new .card-new img {
  width: auto;
  height: 100%;
}
.card-producto .card-content, .grilla .items .col .card .card-content, .new .card .card-content, .new .card-new .card-content {
  padding: 20px;
  width: auto;
  height: 100%;
}
.card-producto .card-content p, .grilla .items .col .card .card-content p, .new .card .card-content p, .new .card-new .card-content p {
  margin-bottom: 20px;
  font-family: "Roboto Tin";
  font-size: 20px;
  color: gray;
}
.card-producto .card-content .btn:hover, .grilla .items .col .card .card-content .btn:hover, .new .card .card-content .btn:hover, .new .card-new .card-content .btn:hover {
  background-color: #7ab875;
  width: auto;
  height: 100%;
}
.card-producto:hover, .grilla .items .col .card:hover, .new .card:hover, .new .card-new:hover {
  -webkit-box-shadow: 1px 10px 20px grey;
          box-shadow: 1px 10px 20px grey;
  border-radius: 5px;
}
.card-producto .btn:focus, .grilla .items .col .card .btn:focus, .new .card .btn:focus, .new .card-new .btn:focus {
  opacity: 0.5;
}

.btn-redes {
  border: 5px solid #c0dbea;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  font-family: "Roboto Black";
  font-size: 18px;
  color: black;
}
.btn-redes:hover {
  background-color: #5583a4;
}

.separador {
  width: 100%;
  height: 3rem;
  background-color: #f6f6f6;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

/*Barra de navegacion*/
header nav {
  font-family: "Roboto Black";
  font-size: 25px;
  color: white;
  width: 100%;
  height: 150px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*Barra de navegacion de las otras paginas*/
.navbarOtras {
  background-color: #A0C49D;
  width: 100%;
  height: 150px;
  position: relative;
  z-index: 1;
}
.navbarOtras div.nav_listas {
  background-color: #A0C49D;
}
.navbarOtras a {
  color: white;
}

/* boton hamburguesa y hover de la barra de navegacion*/
header nav div button span {
  border-radius: 5px;
  font-size: 25px;
  padding: 25px;
}
header nav div a:hover {
  background-color: #e5e5e5;
  opacity: 0.75;
  border-radius: 15px;
}
header nav div a:focus {
  background-color: #caabe8;
  padding: 10px;
  font-size: 18px;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}

/*Botones de la barra de navegacion login y carrito*/
.btn-navbar {
  padding: 20px;
  margin: 5px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
.btn-navbar:focus {
  background-color: #e5e5e5;
  padding: 20px;
  font-size: 20px;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}

/*Boton Login*/
.btn-1 {
  background-color: #DBC4F0;
}
.btn-1:hover {
  background-color: #caabe8;
}

/*Boton carrito*/
.btn-2 {
  background-color: #c0dbea;
}
.btn-2:hover {
  background-color: #5583a4;
}

/*footer*/
footer {
  background-color: #DBC4F0;
  padding: 25px;
  font-size: 25px;
  font-family: "Roboto Tin";
}

/*Categorias*/
.card-categoria {
  background-image: url("../img/collar.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: auto;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
  justify-self: stretch;
}
.card-categoria:hover {
  -webkit-box-shadow: 1px 8px 20px grey;
          box-shadow: 1px 8px 20px grey;
  opacity: 0.7;
}
.card-categoria.card-content-categoria__medio {
  -ms-flex-item-align: center;
      align-self: center;
  height: 400px;
}
.card-categoria a.btn-ver-categoria {
  font-size: 18px;
}
.card-categoria a.btn-ver-categoria:hover {
  background-color: #caabe8;
}
.card-categoria a.btn-ver-categoria:focus {
  background-color: #caabe8;
  padding: 18px;
  font-size: 18px;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}

/*new*/
.new {
  margin: 30px;
  /*new items*/
}
.new .card-new-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 30px 15px;
}
.new .card-new-container .card-new {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.new .card-new-container .card-new img {
  width: auto;
  height: 100%;
}
.new .card-new-container .card-new .card-content-new {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}
.new .card-new-container .card-new .card-content-new p {
  margin-bottom: 15px;
}
.new .card-new-container .card-new .card-content-new .button {
  display: inline-block;
  background-color: #DBC4F0;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}
.new .card-new-container .card-new .card-content-new .button:hover {
  background-color: #caabe8;
}
.new .card-new-container h3 {
  font-size: 35px;
  margin-bottom: 20px;
}
.new .card-new-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  margin: 5px 10px;
}
.new .card-new-items .card-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}
.new .card-new-items .card-item:hover {
  -webkit-box-shadow: 1px 8px 20px grey;
          box-shadow: 1px 8px 20px grey;
  opacity: 0.7;
}
.new .card-new-items .card-item img {
  width: auto;
  height: 100%;
}
.new .card-new-items .card-item .card-content-item {
  padding: 20px;
}
.new .card-new-items .card-item .card-content-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.new .card-new-items .card-item .card-content-item p {
  margin-bottom: 20px;
}
.new .card-new-items .card-item .card-content-item .button {
  display: inline-block;
  background-color: #A0C49D;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

.new .card-new {
  margin-top: 60px;
}
.new .card-new .card-content {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.new .card-new h3 {
  padding: 10px;
}
/*Banner Suscripcion*/
.banner-suscripcion {
  background-color: #A0C49D;
  text-align: center;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-suscripcion .banner-suscripcion-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  background-color: #A0C49D;
}
.banner-suscripcion .banner-suscripcion-content h3 {
  margin-top: 0;
}
.banner-suscripcion .banner-suscripcion-content input {
  margin-top: 0;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 1px 3px 5px grey;
          box-shadow: 1px 3px 5px grey;
}
.banner-suscripcion .banner-suscripcion-content input:focus {
  padding: 20px;
  font-size: 20px;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}
.banner-suscripcion .banner-suscripcion-content button {
  margin: 5px;
  padding: 15px;
  background-color: #c0dbea;
}
.banner-suscripcion .banner-suscripcion-content button:hover {
  background-color: #5583a4;
  -webkit-box-shadow: 1px 8px 20px grey;
          box-shadow: 1px 8px 20px grey;
}
.banner-suscripcion .banner-suscripcion-content button:focus {
  background-color: #5583a4;
  padding: 20px;
  font-size: 20px;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}

/*Banner*/
section.cabecera {
  background-image: url("../img/pexels-lumn-4155247.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 300px;
  z-index: 0;
  /*Titulo*/
}
section.cabecera div.cabecera__texto {
  background-color: white;
  width: 100%;
  border-radius: 100px 100px 0 0;
}
section.cabecera div.cabecera__texto h1 {
  font-family: "Roboto Black";
  font-size: 35px;
  color: #0b0b0b;
}

section.migas_de_pan {
  --bs-breadcrumb-divider: ">";
  padding: 10px;
}

/*Grid*/
/*Columna filtrar por*/
div.barra_lateral__filtro {
  font-family: "Roboto Tin";
  font-size: 20px;
  color: #374259;
  border-right: 1px solid rgb(236, 220, 220);
}
div.barra_lateral__filtro ul.barra_lateral__filtro_por li.lista-anidada:hover {
  -webkit-box-shadow: 1px 8px 20px grey;
          box-shadow: 1px 8px 20px grey;
}
div.barra_lateral__filtro .barra_lateral__filtro_por_categorias_listas {
  text-align: center;
  font-size: 18px;
}

.grilla {
  /*cards*/
  /*Botones de navegacion de paginas*/
}
.grilla .items .col:hover {
  -webkit-box-shadow: 1px 10px 20px grey;
          box-shadow: 1px 10px 20px grey;
  border-radius: 5px;
}
.grilla ul.btn_paginacion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
.grilla ul.btn_paginacion a {
  background-color: #c0dbea;
  border: none;
  padding: 10px;
  font-family: "Roboto Tin";
  font-size: 20px;
  color: #374259;
}
.grilla ul.btn_paginacion a:hover {
  background-color: #5583a4;
  color: white;
}

main .banner-contacto {
  background-image: url("../img/pexels-towfiqu-barbhuiya-8780312.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 600px;
  opacity: 0.6;
  z-index: 0;
}
main .banner-contacto h1 {
  color: black;
}
main .horarios-content i {
  font-size: 35px;
}
main .horarios-content li {
  margin-top: 10px;
}
main .escribinos-descripcion-content .iconos {
  font-family: "Roboto Tin";
  font-size: 35px;
  color: black;
}
main .escribinos-form-content .input-group input {
  padding: 15px;
  font-family: "Roboto Tin";
  font-size: 20px;
  color: gray;
}
main .escribinos-form-content .input-group input:focus {
  padding: 20px;
  font-size: 20px;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}
main .escribinos-form-content .input-group textarea {
  padding: 15px;
}
main .escribinos-form-content .input-group .input-group-text {
  font-size: 20px;
}
main .escribinos-form-content button:hover {
  background-color: #caabe8;
  color: white;
}
main .escribinos-form-content button:focus {
  background-color: #caabe8;
  padding: 20px;
  font-size: 20px;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}
main .visitanos .visitanos-content-lista .iconos {
  font-family: "Roboto Tin";
  font-size: 35px;
  color: black;
}
main .visitanos .visitanos-content-lista li {
  padding: 5px;
}
main .visitanos .visitanos-content-lista li i {
  font-size: 30px;
}
main .visitanos .visitanos-map {
  border: 1px solid #c0dbea;
  border-radius: 10px;
  padding: 20px;
}
main .visitanos .visitanos-map iframe {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}
main .banner-nosotros {
  background-image: url("../img/pexels-ivan-samkov-7394374.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 600px;
  opacity: 0.6;
  z-index: 0;
}
main .nosotros .nosotros-content .nosotros-img {
  border: 1px solid #c0dbea;
  border-radius: 10px;
  padding: 20px;
}
main .nosotros .nosotros-content .nosotros-img img {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}
main .nosotros .nosotros-content p {
  padding: 15px;
}
main div p.iconos {
  font-family: "Roboto Tin";
  font-size: 100px;
  color: gray;
}
main div h1 {
  font-family: "Roboto Black";
  font-size: 100px;
  color: black;
}
main form label {
  font-family: "Roboto Tin";
  font-size: 18px;
  color: gray;
}
main form .btn-lg {
  font-size: 18px;
}
main form .btn-lg:focus {
  background-color: #caabe8;
  padding: 20px;
  font-size: 20px;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}
main .btn-redes a {
  text-decoration: none;
}
main .btn-redes:focus {
  background-color: #c0dbea;
  padding: 20px;
  font-size: 20px;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}

.cover-container {
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
}
.cover-container a {
  color: white;
}

/*banner*/
.banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 850px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.banner .banner-content {
  padding: 260px 10px 15px 40px;
  color: white;
}
.banner h1 {
  margin-bottom: 10px;
  text-align: left;
}
.banner h2 {
  margin-bottom: 20px;
  text-align: left;
}
.banner p {
  font-family: "Roboto Tin";
  font-size: 20px;
  color: white;
}
.banner button {
  display: inline;
  padding: 20px 30px;
}
.banner button:hover {
  background-color: #caabe8;
}
.banner button:focus {
  background-color: #caabe8;
  padding: 30px;
  font-size: 30px;
  -webkit-box-shadow: 1px 5px 10px grey;
          box-shadow: 1px 5px 10px grey;
}

/*info*/
article.info-compra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5px;
  width: 100%;
  height: 250px;
  font-family: "Roboto Black";
  font-size: 30px;
  color: black;
}
article.info-compra .info-content {
  width: 50%;
  border-right: 2px solid rgb(17, 15, 15);
}
article.info-compra .info-content-3 {
  width: 50%;
}
header div.row {
  width: 100%;
}
header div.row .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header div.row div {
  display: block;
}

@media screen and (max-width: 900px) {
  /*media query del navbar*/
  div.columnanav {
    background-color: #A0C49D;
    border-radius: 10px;
    font-size: 30px;
  }
  /*media query del banner de suscripcion*/
  section.banner-suscripcion {
    height: auto;
  }
  section.banner-suscripcion .banner-suscripcion-content {
    margin-top: 20px;
    padding: 10px;
  }
}
@media screen and (max-width: 750px) {
  /*media query de la seccion de informacion de compra*/
  article.info-compra {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  article.info-compra .info-content-1, article.info-compra .info-content-2 {
    width: 50%;
    border-right: 2px solid rgb(17, 15, 15);
    border-bottom: none;
  }
  /*Media Query de la pagina nosotros*/
  .nosotros-content .iconos li {
    font-size: 25px;
  }
}
@media screen and (max-width: 480px) {
  .card-new-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}