/*Reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

/*Fuente*/
@font-face {
  font-family: "Roboto Tin";
  src: url(../font/roboto/Roboto-Thin.ttf);
  font-family: "Roboto Medium";
  src: url(../font/roboto/Roboto-Medium.ttf);
  font-family: "Roboto Black";
  src: url(../font/roboto/Roboto-Black.ttf);
}
.cover-container{
  background-image: url(../img/banner.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 999px;
}
/*Barra de navegacion de las otras paginas*/
.navbarOtras{
  background-color: #c7e9b0;
  width: 100%;
  height: 145px;
  position: relative;
  z-index: 1;
}
.navbarOtras div.nav_listas{
  background-color: #c7e9b0;
}
/*Barra de navegacion*/
header nav {
  font-family: "Roboto Black";
  height: 150px;
  width: 100%;
  font-size: 25px;
  justify-content: space-evenly;
}
/*Hover para la barra de navegacion*/
header nav li:hover{
  background-color: #e5e5e5;
  opacity: .75;
  border-radius: 15px;
}
/*Boton hamburguesa*/
header nav div button span{
  border-radius: 5px;
  font-size: 30px;
  padding: 25px;
}
header nav div div a:hover{
  background-color: #e5e5e5;
  opacity: .75;
  border-radius: 15px;
}
/*Botones de la barra de navegacion login y carrito*/
header nav div button.btn-1, button.btn-2{
  font-size: 30px;
  padding: 20px;
  margin: 5px;
  color: white;
  border-radius: 50px;
  text-align: center;
}
/*Boton Login*/
header nav div button.btn-1{
  background-color: #f2d8d8;
}
header nav div button.btn-1:hover{
  background-color: #c29ca5;
}

/*Boton carrito*/
header nav div button.btn-2{
  background-color: #c0dbea;
}
header nav div button.btn-2:hover{
  background-color: #5583a4;
}
/*Color de fuente de la barra de navegacion*/
header .navbar a {
  color: white;
}
/*Espacio de los li de la barra de navegacion*/
header .navbar div{
  padding: 10px;
  margin: 10px;
}

/*index*/

/* banner*/
.banner {
  align-items: center;
  height: 850px;
  justify-content: flex-end;
}
.banner-content {
  padding: 260px 10px 15px 40px;
  color: white;
}
.banner-content h1 {
  font-family: "Roboto Black";
  font-size: 40px;
  margin-bottom: 10px;
  text-align: left;
}
.banner-content h2 {
  font-family: "Roboto Medium";
  font-size: 35px;
  margin-bottom: 20px;
  text-align: left;
}
.banner-content button {
  display: inline;
  color: #eeeeee;
  padding: 20px 60px;
  border: none;
  font-size: 30px;
  cursor: pointer;
  background-color: #f2d8d8;
  border-radius: 18px;
  font-family: "Roboto Black";
}
.banner-content button:hover{
  background-color: #c29ca5;
}
/*info*/
article.info-compra{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  height: 250px;
  width: 100%
}
article section.info-content-1, article section.info-content-2{
  width: 50%;
  border-right: 2px solid rgb(17, 15, 15);
}
article section.info-content-3{
  width: 50%;
}


/*Categorias*/
div.card-categoria{
  background-image: url(../img/collar.jpg);
  width: auto;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: end;
  text-align: center;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 5px 10px grey;
}

div.card-categoria:hover{
  box-shadow: 1px 8px 20px grey;
  opacity: .7;
}

div.card-content-categoria{
  justify-self: stretch;
}

div.card-content-categoria__medio{
  align-self: center;
  height: 400px;
}

div.card-content-categoria a.btn-ver-categoria{
  background-color: #c29ca5;
  color: white;
}
a.a.btn-ver-categoria:hover{
  background-color: #b46174;
}


main article {
  padding: 0 100px;
}
/*new*/
.card-new-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  padding: 30px 100px;
}
.card-new {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.card-new img {
  width: 100%;
  height: auto;
}
.card-content-new {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  transition: opacity 0.3s;
  box-shadow: 1px 5px 10px grey;
}
.card-new-container h3 {
  font-size: 50px;
  margin-bottom: 20px;
}
.card-content-new p {
  margin-bottom: 20px;
}
.card-content-new .button {
  display: inline-block;
  background-color: #f2d8d8;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}
.card-content-new .button:hover{
  background-color: #b46174;
}
/*new items*/
.card-new-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  margin: 25px 15px;
}

.card-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 5px 10px grey;
}

.card-item:hover{
  box-shadow: 1px 8px 20px grey;
  opacity: .7;
}

.card-item img {
  width: 100%;
  height: auto;
}

.card-content-item {
  padding: 20px;
}

.card-content-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-content-item p {
  margin-bottom: 20px;
}

.card-content-item .button {
  display: inline-block;
  background-color: #c7e9b0;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

.new {
  margin: 50px;
}
/*Banner Suscripcion*/
section.banner-suscripcion{
  background-color: #c7e9b0;
  font-family: "Roboto Black";
  height: 300px;
  width: 100%;
  text-align: center;
  
}
.banner-suscripcion-content{
align-items: center;
margin-top: 40px;
font-family: "Roboto Black";
background-color: #c7e9b0;
}

.banner-suscripcion {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-suscripcion-content h3 {
  margin-top: 0;
  font-size: 50px;
}
.banner-suscripcion-content input {
  margin-top: 0;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 1px 3px 5px grey;
}

.banner-suscripcion-content button {
  margin: 5px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #f2d8d8;
  color: white;
  box-shadow: 1px 3px 5px grey;
}
.banner-suscripcion-content button:hover{
  background-color: #b46174;
  box-shadow: 1px 8px 20px grey;
}
/*footer*/
footer {
  background-color: #f2d8d8;
  padding: 25px;
  font-size: 25px;
  font-family: 'Roboto Tin';
}


/*Tienda*/

/*Banner*/
section.cabecera{
  background-image: url(../img/pexels-lumn-4155247.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 300px;
  z-index: 0;
}
/*Titulo*/
div.cabecera__texto{
  background-color: white;
  font-family: "Roboto Black";
  font-size: 25px;
  width: 100%;
  border-radius: 100px 100px 0 0;
}

section.migas_de_pan{
  --bs-breadcrumb-divider: '>';
  padding: 10px;
}
/*Grid*/

/*Columna filtrar por*/

div.barra_lateral__filtro{
  font-family: "Roboto Tin";
  font-size: 20px;
  border-right: 1px solid rgb(236, 220, 220);
}
ul.barra_lateral__filtro_por li.lista-anidada:hover{
  box-shadow: 1px 8px 20px grey;
}

div.barra_lateral__filtro_por_categorias_listas{
  text-align: center;
  font-size: 18px;
}

/*cards*/
div.col:hover{
  box-shadow: 1px 8px 20px grey;
}

/*Botones de navegacion de paginas*/
ul.btn_paginacion{
  justify-content: center;
  font-family: 'Roboto Tin';
}
ul.btn_paginacion li a{
  background-color: #c0dbea;
  color: #374259;
  border: none;
}
ul.btn_paginacion li a:hover{
  background-color: #545B77;
  color: white;
}
/*media queries del index*/

/*media query del navbar*/
@media screen and (max-width: 988px){
  div.columnanav{
    background-color: #c7e9b0;
    border-radius: 10px;
    font-size: 26px;
  }
}

/*media query de la seccion de informacion de compra*/
@media screen and (max-width: 750px) {
  article.info-compra {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  
  article section.info-content-1,
  article section.info-content-2 {
    width: 50%;
    border-right: 2px solid rgb(17, 15, 15);
    border-bottom: none;
  }
}
/*media query de la seccion nuevos items*/
@media screen and (max-width: 900px) {
  .card-new-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .card-new-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

/*media query del banner de suscripcion*/
@media screen and (max-width: 900px) {
  section.banner-suscripcion {
    height: auto;
  }
  
  .banner-suscripcion-content {
    margin-top: 20px;
    padding: 10px;
  }
}





