/*Fuente*/
@font-face {
    font-family: "Roboto Tin";
    src: url(../font/roboto/Roboto-Thin.ttf);
    font-family: "Roboto Medium";
    src: url(../font/roboto/Roboto-Medium.ttf);
    font-family: "Roboto Black";
    src: url(../font/roboto/Roboto-Black.ttf);
  }