@media screen and (max-width: 990px){
  /*media query del navbar*/
    div.columnanav{
      background-color: $colorVerde;
      border-radius: 10px;
      font-size: 18px;
    }
    /*media query del banner de suscripcion*/
    section.banner-suscripcion {
      height: auto;
    
      .banner-suscripcion-content {
        margin-top: 20px;
        padding: 10px;
      }
    }
    .cover-container{
      @include background-image("../img/banner.png", center, no-repeat, cover, relative);
      @include sizes(760px, 100%);
      margin-bottom: 10px;
      a{
        color: white;
      }
    }
    .info-content h2,
  .info-content-3 h2,
  .banner-content h1 {
    font-size: 20px;
  }
  .banner-content p {
    font-size: 18px;
  }
  
  .banner-content .btn-comprar {
    font-size: 15px;
    padding: 8px 14px;
  }
    
  }
  
  
  
  @media screen and (max-width: 750px) {
    /*media query de la seccion de informacion de compra*/
    article.info-compra {
      flex-wrap: nowrap;
      justify-content: space-evenly;

     .info-content-1, .info-content-2 {
      width: $anchoMedio;
      border-right: 2px solid rgb(17, 15, 15);
      border-bottom: none;
    } 
   }
   /*Media Query de la pagina nosotros*/
   .nosotros-content{
    .iconos li{
      font-size: 25px;
    }
  }
}
  
   @media screen and (max-width: 480px) {
    .card-new-container {
      grid-template-columns: 1fr;
      padding: 10px;
    }
    
  }

  @media screen and (max-width: 450px) {
    .info-compra {
      flex-direction: column;
      .info-content,
      .info-content-3 {
        width: 100%; 
        border-right: none; 
    }
  
  }
    .info-content h2,
    .info-content-3 h2,
    .banner-content h1 {
      font-size: 18px;
    }
    .banner-content p {
      font-size: 16px;
    }
    
    .banner-content .btn-comprar {
      font-size: 12px;
      padding: 8px 14px;
    }
  
   
    .categorias .card-categoria {
      margin-bottom: 10px;
    }

    .cover-container{
      @include background-image("../img/banner.png", center, no-repeat, cover, relative);
      @include sizes(760px, 100%);
      margin-bottom: 10px;
      a{
        color: white;
      }
    }
  }