/*variables*/
$fontSizeGrande: 35px;
$fontSizeMediana: 30px;
$fontSizeChica: 20px;
$fontSizeNormal: 18px;
$anchoMax: 100%;
$anchoMedio: 50%;
$colorVerde: #A0C49D;
$colorVerdeHover: #7ab875;
$colorRosa: #DBC4F0;
$colorRosaHover: #caabe8;
$colorCeleste: #c0dbea;
$colorCelesteHover: #5583a4;
$colorGrisClaroHover: #e5e5e5;
$colorSombra: #f6f6f6;
