/*Categorias*/
.card-categoria{
    @include sizes(200px, auto);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: end;
    text-align: center;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 10px grey;
    justify-self: stretch;
     &:hover{
        box-shadow: 1px 8px 20px grey;
        opacity: .7;
      }
      &.card-content-categoria__medio{
        align-self: center;
        height: 400px;
      }
      a.btn-ver-categoria{
        @extend .btn-comprar;
        font-size: $fontSizeNormal;
       &:hover{
        background-color: $colorRosaHover;
      }
      &:focus{
        background-color: $colorRosaHover;
        padding: 18px;
        font-size: 18px;
        box-shadow: 1px 5px 10px grey;
    }
    }
    
  }
 .card-categoria-1{
  @extend .card-categoria;
  @include background-image("../img/aros12.jpg", center, no-repeat, cover, relative);
 }
 .card-categoria-2{
  @extend .card-categoria;
  @include background-image("../img/anillo.png", center, no-repeat, cover, relative);
 }
 .card-categoria-3{
  @extend .card-categoria;
  @include background-image("../img/reloj.png", center, no-repeat, cover, relative);
 }
 
 .card-categoria-5{
  @extend .card-categoria;
  @include background-image("../img/pulsera3.jpg", center, no-repeat, cover, relative);
 }
 .card-categoria-6{
  @extend .card-categoria;
  @include background-image("../img/set3.jpg", center, no-repeat, cover, relative);
 }
 .card-categoria-7{
  @extend .card-categoria;
  @include background-image("../img/set5.jpg", center, no-repeat, cover, relative);
 }
 .card-content-categoria__medio{
  @extend .card-categoria;
  @include background-image("../img/collar13.jpg", center, no-repeat, cover, relative);
 }