 /*Barra de navegacion*/
 header nav {
  @include fuente('Roboto Black', $fontSizeMediana - 7, white);
    @include sizes(150px, $anchoMax);
    justify-content: space-evenly;  
    position: relative;
    z-index: 1;
    a img{
      @include sizes(150px, 150px);
    }
  }
  
   /*Barra de navegacion de las otras paginas*/
  .navbarOtras{
    background-color: $colorVerde;
    @include sizes(150px, $anchoMax);
    @include fuente('Roboto Black', $fontSizeMediana - 10, white);
    position: relative;
    z-index: 1;
     div.nav_listas{
        background-color: $colorVerde;
      }
      a{
        color: white;
      }
  }
/* boton hamburguesa y hover de la barra de navegacion*/
 header nav{
    div button span{
        border-radius: 5px;
        font-size: 25px;
        padding: 15px;
 }
     a:hover{
     background-color: $colorGrisClaroHover;
     opacity: .75;
     border-radius: 15px;
  }
  div a:focus{
    border: 1px solid black;  
    padding: 10px;
    font-size: 18px;
    box-shadow: 1px 5px 10px grey;
} 
}
  /*Botones de la barra de navegacion login y carrito*/
  .btn-navbar{
    padding: 20px;
    margin: 5px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    &:focus{
      background-color: $colorGrisClaroHover;
      padding: 20px;
      font-size: 20px;
      box-shadow: 1px 5px 10px grey;
  }
  }
  /*Boton Login*/
 .btn-1{
    background-color: $colorRosa;
    &:hover{
        background-color: $colorRosaHover;
    }
  }
  /*Boton carrito*/
  .btn-2{
    background-color: $colorCeleste;
    &:hover{
        background-color: $colorCelesteHover;
      }
  }
 

 
  