/*new*/
.new {
  margin: 30px;
  .card-new-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 30px 15px;
    .card-new {
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      & img {
        @include sizes(100%, auto);
      }
      .card-content-new {
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 15px;
        transition: opacity 0.3s;
        box-shadow: 1px 5px 10px grey;
        p {
          margin-bottom: 15px;
        }
        .button {
          display: inline-block;
          background-color: $colorRosa;
          color: white;
          padding: 8px 16px;
          text-decoration: none;
          border-radius: 4px;
          &:hover{
            background-color: $colorRosaHover;
          }
        }
      }
    }
    & h3 {
      font-size: $fontSizeGrande;
      margin-bottom: 20px;
    }
  }
  /*new items*/
  .card-new-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 5px 10px;
    .card-item {
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 1px 5px 10px grey;
      &:hover{
        box-shadow: 1px 8px 20px grey;
        opacity: .7;
      }
      & img {
        @include sizes(100%, auto);
      }
      .card-content-item {
        padding: 20px;
        & h3 {
          font-size: $fontSizeChica;
          margin-bottom: 10px;
        }
        & p {
          margin-bottom: 20px;
        }
        & .button {
          display: inline-block;
          background-color: $colorVerde;
          color: white;
          padding: 8px 16px;
          text-decoration: none;
          border-radius: 4px;
        }
      }
    }
  }
}


.new {
  .card-new {
    @extend .card-producto;
    margin-top: 60px;
    .card-content {
      background-color: rgba(0, 0, 0, 0.7);
      transition: opacity 0.3s;
    }
    h3 {
      @extend .titulo-h2;
      padding: 10px;
    }
  }
  .card{
    @extend .card-producto;
  }
}